<div class="container-fluid">
    <h1 *ngIf="data.Id===null; else addTitle" mat-dialog-title>Add Employee </h1>
    <ng-template #addTitle><h1 mat-dialog-title>Edit Employee: {{data.Id}}</h1></ng-template>
    <mat-form-field> <!--Nombre del empleado-->
        <mat-label>Name</mat-label>
        <input type="text"  matInput [(ngModel)]="data.Name">
        
    </mat-form-field>
    
    <mat-form-field> <!--Tipo de documento-->
        <mat-label>Document Type</mat-label>
        <mat-select>
            <mat-option *ngFor="let idDocType of this.IdDocTypes" [value]="idDocType.Id">
                {{idDocType.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field> <!--Valor de documento-->
        <mat-label>Document Value</mat-label>
        <input type="text" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>BirthDay</mat-label>
        <input type="text" placeholder="yy-mm-dd" matInput>
    </mat-form-field>

    <mat-form-field> <!--Puesto-->
        <mat-label>Job</mat-label>
        <mat-select>
            <mat-option *ngFor="let job of this.Jobs" [value]="job.Id">
                {{job.NameJob}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field> <!--Departamento-->
        <mat-label>Department</mat-label>
        <mat-select>
            <mat-option *ngFor="let department of this.Departments" [value]="department.Id">
                {{department.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<button mat-button (click)="onNoClick()">Cancel</button> 
<button mat-button (click)="onNoClick()">Ok</button> 

