<app-navbar-in></app-navbar-in>
<div class="container-fluid py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h2>Employees</h2>
        <div class="d-flex">
            <input [(ngModel)]="searchForm" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" id="submitBtn" (click)="onSearch()">Search</button>
            <button class="btn btn-outline-success" id="submitBtn" (click)="addEmployee()">New</button>
        </div>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Job</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of this.employees">
                    <th>{{employee.Name}}</th>
                    <th>{{findJob(employee.IdJob)}}</th>
                    <th>
                        <button mat-button [matMenuTriggerFor]="menu">Options</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openEdit(employee)">Edit</button>
                            <button mat-menu-item>Delete</button>
                        </mat-menu>
                    </th>
                </tr>
            </tbody> 
        </table>

    </div>
</div>
