<div class="container-fluid" >
    <div id="logInForm">
        <div class="mb-3">
            <label for="userName" class="form-label">User</label>
            <input id="UserName" [(ngModel)]="adminClient.UserName" class="form-control"  aria-describedby="userHelp">
            <div id="userHelp" class="form-text">Please enter your user name above.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [(ngModel)]="adminClient.Password" class="form-control" id="password" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Please enter yout password above.</div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary" id="submitBtn" (click)="onClickSubmitBtn()">Log in</button>
        </div>
    </div>
</div>
